.addchar {
    padding-top: 15px;
    width: 350px;
    height: 250px;
    margin: 77px 10% 5% 0;
    background-color: rgba(26, 26, 26, .95);
    z-index: 3;
    position: fixed;
    color: #dcdada;
    border-radius: 3%;
    transition: all 2s;
}

.add-header {
    padding: 0 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add-header>i {
    cursor: pointer;
    font-size: 25px;
}

.details-form {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
    padding: 5% 5% 0 8%;
}

.details-form>input {
    color: white;
    background: transparent;
    border: 1px solid #dcdada;
    border-radius: 2px;
}

.details-form>button {
    background-color: rgba(107, 107, 107, 0.9);
    border: 0px solid white;
    border-radius: 2px;
    color: #dcdada;
    margin-top: 5px;
}

.details-form>button:active {
    margin-top: 13px;
    margin-left: 8px;
    background-color: rgba(0, 0, 0, 0.9);
    transition: all 0.5s;
}

@media (max-width:480px) {
    .addchar {
        margin-top: 77px;
    }
}