@keyframes ani {
    from {
        oparcity: 0.2;
    }

    to {
        opacity: 1;
    }
}

.avenger,
.avenger-detailed {
    align-items: center;
    text-align: center;
    border-radius: 8%;
    padding: .75% .18%;
    width: 10%;
    background-color: lightpink;
    overflow: hidden;
}


.details {
    text-align: left;
    width: 100%;
}

.avenger-detailed {
    opacity: 0;
    transition: all 2s;
    visibility: hidden;
    height: 80vh;
    width: auto;
    display: flex;
    flex-direction: column;
    z-index: -1;
    position: fixed;
}

.avenger-detailed>i {
    cursor: pointer;
    font-size: 2em;
    margin: 5px;
    margin-left: 70%;
}

.avenger:hover {
    opacity: 0.85;
}

.charimage {
    width: 90%;
    height: 85%;
    object-fit: cover;
    border-radius: 5%;
}

.name,
.charname,
h2 {
    margin: 0;
    font-size: 1em;
    font-weight: 450;
}

.all {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete {
    margin-left: 50px;
}

.delete>i {
    cursor: pointer;
    font-size: 25px;
}

@media (max-width: 480px) {
    .avenger {
        align-items: center;
        text-align: center;
        border-radius: 8%;
        padding: 10px 3px;
        width: 45%;
        background-color: lightpink;
    }
}